$mortgage-calculator-bg-color: #f7f7f7;
$mortgage-calculator-border-color: #ccc;
$mortgage-calculator-color-white: #ffffff;
$mortgage-calculator-border-radius: 8px;
$mortgage-calculator-button-bg-color: #007BFF;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

$desktop-breakpoint: 992px;

@mixin respond-to-mobile {
    @media (max-width: ($desktop-breakpoint - 1)) {
        @content;
    }
}

@mixin respond-to-desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

body {
    margin: 0;
}

.mortgage-calculator {
    max-width: fit-content;
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        font-size: 56px;
        font-weight: 200;
        line-height: 74px;
        text-align: center;
        padding-bottom: 2rem;

        span {
            font-weight: 800;
        }

        @include respond-to-mobile {
            font-size: 42px;
            line-height: 50px;
            padding-bottom: 0;
        }
    }

    .calculator-fields {
        position: relative;
        background-color: $mortgage-calculator-color-white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @include respond-to-mobile {
            background: unset;
            box-shadow: unset;
        }

        .mortgage-amount-wrapper {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            padding-top: 3rem;

            @include respond-to-mobile {
                grid-template-columns: 1fr;
                padding: 3rem 1rem 0 1rem;
            }
        }

        .rate-amortization-period-wrapper {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            align-items: center;
            grid-gap: 1rem;
            padding: 2rem 0 6rem 0;

            @include respond-to-mobile {
                grid-template-columns: 1fr;
                padding: 1rem;
            }
        }

        .calculator-floating-label-field {
            position: relative;

            label {
                font-size: 16px;
                font-weight: 200;
                line-height: 20px;
                background-color: $mortgage-calculator-color-white;

                position: absolute;
                top: -0.75rem;
                left: 1rem;
                padding: 0.25rem 0.5rem;
            }

            input {
                font-family: "Poppins", serif;
                font-size: 22px;
                font-weight: 800;
                line-height: 30px;
                max-width: 250px;
                border-radius: 4px;
                border: 1px solid $mortgage-calculator-border-color;
                padding: 1rem;

                @include respond-to-mobile {
                    max-width: unset;
                    width: -webkit-fill-available;
                }
            }
        }

        .calculator-fixed-label-field {
            display: grid;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0.5rem 1rem;

            label {
                font-size: 14px;
                font-weight: 200;
                line-height: 14px;
                background-color: $mortgage-calculator-color-white;

                padding: 0.25rem 0;
            }

            input,
            select {
                font-family: "Poppins", serif;
                font-size: 22px;
                font-weight: 800;
                line-height: 22px;
                max-width: 250px;

                padding: 0;
                border: none;
                outline: none;
                box-shadow: none;

                @include respond-to-mobile {
                    max-width: unset;
                    width: -webkit-fill-available;
                }

                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }

            &.child-input-focused {
                outline: 2px solid rgb(0, 95, 204);
                outline-offset: -1px;
            }
        }

        .masked-input {
            display: grid;
            grid-template-columns: repeat(2, auto);
            align-items: center;
        }

        .apply-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 250px);
            justify-items: center;
            align-items: center;
            grid-gap: 0.5rem;
            background: #1A1A30;
            border-radius: 30px;

            position: absolute;
            bottom: -4rem;
            left: 10rem;
            padding: 2rem;

            @include respond-to-mobile {
                position: unset;
                grid-template-columns: auto;
                padding: 1rem;
                margin: 1rem;
            }


            #mortagage-payment {
                font-size: 42px;
                font-weight: 200;
                line-height: 56px;
                height: 56px;
                color: $mortgage-calculator-color-white;
            }

            .mortgage-apply-link {
                font-family: "Poppins", serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: #1A1A30;
                text-transform: uppercase;
                background: $mortgage-calculator-color-white;
                width: 200px;
                border-radius: 2rem;
                padding: 0.5rem;
                border: none;
                cursor: pointer;
                text-align: center;
                text-decoration: none;

                &.disabled {
                    pointer-events: none;
                    cursor: none;
                }
            }
        }
    }
}

.market-trend-videos,
.educational-videos {
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        width: 100%;
        color: #000000;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 2rem 0;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @include respond-to-mobile {
            font-size: 26px;
            font-weight: 700;
            padding: 1rem;
        }
    }

    .videos {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2rem;
        padding: 0 0 2rem 0;

        width: fit-content;
        margin: auto;

        @include respond-to-mobile {
            width: 100vw;
            margin: auto;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 0 1rem;
        }

        .video {
            width: 350px;

            @include respond-to-mobile {
                width: 100%;
            }

            .thumbnail {
                border-radius: 0.75rem;
                background: #D9D9D9;
                // background-image: url('https://img.youtube.com/vi/22Cw_8tECyQ/sddefault.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 350px;
                height: 300px;

                @include respond-to-mobile {
                    width: 100%;
                }

                .thumbnail-overlay {
                    width: 100%;
                    height: 100%;
                    background: #66656566;
                    border-radius: 0.75rem;
                    display: grid;
                    align-items: center;
                    justify-content: center;

                    .play-icon {
                        display: grid;
                        background-color: #FFFFFF;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #bababa;
                        }
                    }
                }
            }

            .date {
                color: #5F758A;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;

                @include respond-to-mobile {
                    font-weight: 400;
                }
            }

            .title {
                color: #000000;
                font-family: "DM Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }
            .source {
                color: #5F758A;
                font-family: "DM Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;

                span {
                    color: #000;
                }

                @include respond-to-mobile {
                    font-size: 18px;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
        position: relative;
        background-color: #FFFFFF;
        // padding: 1rem;
        border-radius: 0.25rem;
        width: 50vw;
        height: 50vh;

        @include respond-to-mobile {
            width: 90vw;
            height: 90vh;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        .close {
            position: absolute;
            top: -12px;
            right: -12px;
            font-size: 20px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: #989595;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #626060;
            }
        }
    }
}


.faqs {
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        width: 100%;
        color: #000000;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 2rem 0;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @include respond-to-mobile {
            font-size: 26px;
            font-weight: 700;
            padding: 1rem;
        }
    }

    .faq-list {
        display: grid;
        grid-template-columns: 1fr;
        width: 850px;
        padding-bottom: 1.5rem;
        margin: auto;

        @include respond-to-mobile {
            width: 100vw;
            padding: 0 1rem 1rem 1rem;
        }

        .faq {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;
            align-items: start;
            gap: 0.5rem;

            border-bottom: 1px solid #181A1A;
            padding: 1.5rem 0;

            @include respond-to-mobile {
                padding: 1rem 0;
            }

            .content-wrapper {
                display: grid;
                gap: 0.5rem;

                .question {
                    color: #181A1A;
                    font-family: "DM Sans";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @include respond-to-mobile {
                        font-size: 14px;
                    }
                }

                .answer {
                    color: #181A1A;
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;

                    @include respond-to-mobile {
                        font-size: 12px;
                    }
                }
            }

            .expand-collapse-wrapper {
                background-color: #5F758A;
                width: 32px;
                height: 32px;
                display: grid;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                cursor: pointer;

                img {
                    transition: transform 0.2s ease;
                }

                @include respond-to-mobile {
                    width: 30px;
                    height: 30px;
                }
            }

            &.expand {
                .answer {
                    max-height: 100px;
                }

                .expand-collapse-wrapper {
                    img {
                        transform: scaleY(-1);
                    }

                }
            }
        }
    }
}

.research-articles {
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        width: 100%;
        color: #000000;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 2rem 0;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @include respond-to-mobile {
            font-size: 26px;
            font-weight: 700;
            padding: 1rem;
        }
    }

    .research-articles-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2rem;
        padding: 0 0 2rem 0;

        width: fit-content;
        margin: auto;

        @include respond-to-mobile {
            width: 100vw;
            margin: auto;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 0 1rem;
        }

        .research-article {
            width: 350px;

            @include respond-to-mobile {
                width: 100%;
            }

            .thumbnail {
                border-radius: 0.75rem;
                background: #D9D9D9;
                // background-image: url('https://img.youtube.com/vi/22Cw_8tECyQ/sddefault.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 350px;
                height: 300px;

                @include respond-to-mobile {
                    width: 100%;
                }
            }

            .date {
                color: #5F758A;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }

            .title {
                color: #000000;
                font-family: "DM Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }

            .description {
                color: #000;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;
                margin: 0.25rem 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                line-height: 1.5rem;
                max-height: calc(2 * 1.5rem);
            }

            .read-more-link {
                display: inline-block;
                border-radius: 10px;
                background-color: #5f758a;
                color: #fff;
                text-align: center;
                font-family: "Poppins", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 15px;
                text-decoration: none;
                padding: 1rem;
                margin-top: 0.5rem;
                letter-spacing: 0.2px;
            }
        }
    }
}

.mortgage-news {
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        width: 100%;
        color: #000000;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 2rem 0;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @include respond-to-mobile {
            font-size: 26px;
            font-weight: 700;
            padding: 1rem;
        }
    }

    .mortgage-news-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2rem;
        padding: 0 0 2rem 0;

        width: fit-content;
        margin: auto;

        @include respond-to-mobile {
            width: 100vw;
            margin: auto;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 0 1rem;
        }

        .mortgage-news-item {
            width: 350px;

            @include respond-to-mobile {
                width: 100%;
            }

            .thumbnail {
                border-radius: 0.75rem;
                background: #D9D9D9;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 350px;
                height: 300px;

                @include respond-to-mobile {
                    width: 100%;
                }
            }

            .date {
                color: #5F758A;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }

            .title {
                color: #000000;
                font-family: "DM Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                padding-bottom: 1rem;
            }

            .read-more-link {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                padding-top: 1rem;
                border-top: 1px solid #324455;

                color: #324455;
                font-family: "DM Sans";
                font-size: 18px;
                font-style: italic;
                font-weight: 700;
                line-height: 25px;

                .read-more-icon {
                    border: 1px solid #324455;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.mortgage-glossary {
    margin: auto;
    font-family: "Poppins", serif;

    .header-wrapper {
        @include respond-to-mobile {
            width: fit-content;
        }

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .section-heading {
            color: #000000;
            text-align: center;
            font-family: "DM Sans";
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 2rem 0;

            @include respond-to-mobile {
                font-size: 26px;
                font-weight: 700;
                padding: 1rem;
            }
        }

        .glossary-controls {
            background: #5f758a;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            grid-gap: 1rem;
            justify-items: center;
            padding: 0 2rem;

            @include respond-to-mobile {
                padding: 0;
                width: fit-content;
            }

            .arrow-left,
            .arrow-right {
                display: grid;
                background-color: #FFFFFF;
                border-radius: .5rem;
                transition: background-color 0.5s ease-in-out;
                cursor: pointer;
                margin: 2rem 0;

                img {
                    width: 45px;
                }

                &:hover {
                    background-color: #d9d9d9;
                }
            }

            .alphabets {
                display: flex;
                gap: 1rem;
                width: calc(100vw - 300px);
                overflow: auto;
                padding: 2rem 0;

                @include respond-to-mobile {
                    width: calc(100vw - 90px);
                }

                .alphabet {
                    color: #FFFFFF;
                    text-align: center;
                    font-family: Outfit;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    cursor: pointer;
                    border-radius: 52px;
                    border: .675px solid hsla(0, 0%, 100%, .31);
                    width: 45px;
                    height: 70px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    // background: rgba(255, 255, 255, 0.06);
                    transition: all 0.25s ease-in-out;
                    flex-shrink: 0;

                    &:hover {
                        background-color: #FFFFFF;
                        color: #5f758a;
                    }
                }
            }
        }

    }

    .glossary-list {
        display: grid;
        grid-template-columns: 1fr;
        width: 850px;
        padding-bottom: 1.5rem;
        margin: auto;

        @include respond-to-mobile {
            width: 100vw;
            padding: 0 1rem 1rem 1rem;
        }

        .glossary-item {
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
            padding-bottom: 1rem;

            @include respond-to-mobile {
                padding: 1rem 0;
            }

            .term {
                color: #091621;
                font-family: "DM Sans";
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;

                @include respond-to-mobile {
                    font-size: 20px;
                    line-height: 28px;
                }
            }

            .definition {
                color: #091621;
                font-family: "DM Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px;

                @include respond-to-mobile {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
}

.cockpit {
    margin: auto;
    font-family: "Poppins", serif;

    .header-wrapper {
        width: 1250px;
        padding: 0 0 2rem 0;
        background-color: #E7E7E7;
        margin: 1rem auto;
        border-radius: 1rem;

        @include respond-to-mobile {
            width: 100vw;
        }

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            // background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .tab-selectors {
            display: grid;
            grid-template-columns: repeat(4, auto);
            align-items: center;
            justify-content: center;
            // grid-gap: 1rem;

            @include respond-to-mobile {
                display: flex;
                width: 100vw;
                overflow: auto;
                justify-content: unset;
            }

            .tab-selector {
                color: #000;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px;
                background-color: #E7E7E7;
                transition: background-color 0.5s ease-in-out;
                cursor: pointer;
                padding: 1rem;
                white-space: nowrap;

                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;

                &:hover,
                &.selected {
                    background-color: #43434329;
                }

                @include respond-to-mobile {
                    font-size: 14px;
                    border-radius: 0;
                }
            }
        }

        .tab-content {
            padding: 2rem 4rem;
            display: none;

            &.selected {
                display: block;
            }

            @include respond-to-mobile {
                padding: 1rem;
            }

            .title {
                color: #000;
                font-family: "DM Sans";
                font-size: 46px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include respond-to-mobile {
                    font-size: 20px;
                }
            }

            .description {
                color: #000;
                font-family: "DM Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;

                @include respond-to-mobile {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
    }

    .stats {
        width: 1250px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: start;
        grid-gap: 2rem;
        margin: auto;
        padding: 2rem 0;

        @include respond-to-mobile {
            grid-template-columns: 1fr;
            width: calc(100vw - 2rem);
            padding: 0 1rem;
        }

        .stat {
            display: grid;
            grid-gap: 1rem;

            .title {
                color: #181A1A;
                font-family: "DM Sans";
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include respond-to-mobile {
                    font-size: 18px;
                    font-weight: 800;
                }
            }

            .stat-graph {
                border-radius: 1rem;
                border: 1px solid rgba(0, 0, 0, 0.20);
                overflow: hidden;
            }
        }
    }
}

.free-guides {
    margin: auto;
    font-family: "Poppins", serif;

    .section-heading {
        width: 100%;
        color: #000000;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 2rem 0;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 10;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @include respond-to-mobile {
            font-size: 26px;
            font-weight: 700;
            padding: 1rem;
            width: auto;
        }
    }

    .free-guides-form {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 4rem;
        width: calc(100vw - 300px);
        margin: auto;
        padding: 4rem;
        border-radius: 1rem;
        background-color: #5F75890F;

        @include respond-to-mobile {
            grid-template-columns: auto;
            grid-gap: 2rem;
            width: auto;
            justify-items: center;
            padding: 2rem;
            margin: 0 1rem;
        }

        .icon-wrapper {
            background-color: #0000000d;
            padding: 1rem;
            border-radius: 1rem;
        }

        .form-wrapper {
            display: grid;
            grid-gap: 1rem;

            .info {
                color: #000;
                font-family: "DM Sans";
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 37px;
                width: 500px;

                @include respond-to-mobile {
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    width: auto;
                    margin: 1rem 0;
                }
            }

            .fields {
                display: grid;
                grid-template-columns: repeat(3, auto);
                align-items: center;
                grid-gap: 1rem;

                @include respond-to-mobile {
                    grid-template-columns: 1fr;
                }

                input {
                    color: #000;
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: normal;

                    border-radius: 10px;
                    border: 1px solid rgba(35, 38, 55, 0.20);
                    background: #FFF;
                    padding: 1rem;
                }

                .submit-button {
                    border-radius: 10px;
                    background-color: #5F758A;
                    color: #FFFFFF;
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    transition: background-color 0.25s ease-in-out;
                    cursor: pointer;
                    padding: 1rem;
                    width: fit-content;

                    &.disabled {
                        background-color: #d0d0d0;
                        cursor: unset;
                        pointer-events: none;
                    }

                    &:hover {
                        background-color: #32485c;
                    }

                    @include respond-to-mobile {
                        width: auto;
                        text-align: center;
                    }
                }
            }

            .consent-wrapper {
                display: flex;
                align-items: center;
                gap: 0.25rem;

                @include respond-to-mobile {
                    align-items: start;
                }

                label {
                    color: #000;
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    cursor: pointer;
                    margin: 0;
                }
            }

            .status {
                max-width: 450px;
                font-size: 14px;
                line-height: 18px;

                &.success {
                    color: #3ea63e;
                }

                &.error {
                    color: #dc4d4d;
                }
            }
        }
    }
}